{% extends "base.html" %}

{% block content %}
<h1>All Assets</h1>


<a href="{% url 'add_assets' %}">Add Asset</a>
<div class="flex flex-wrap">
  {% for asset in assets %}
  <div class="album">
   
   
   
   <div class="text">
   <h2>{{asset.asset_title }}</h2>
   
   <p>
     <h4> {{asset.asset_type}} </h4>
   <h4> {{asset.asset_description}}</h4>
   <h4> {{asset.asset_update}}</h4>
   <h1> {{asset.asset_want}}</h1>
   </p>

   

   </div>
   </div>
  <a href="{% url 'edit_assets' pk=asset.pk %}">Edit Asset</a>
  <a href="{% url 'delete_assets' pk=asset.pk %}">Delete Asset</a>
  <a href="{% url 'user_profile' pk=asset.pk %}">View Profile</a>
  {% endfor %}
</div>  
{% endblock %}
