{% extends 'base.html' %} 
{% block content %}

<div class="w-33 pa3">
	<h2>{{ profile.name }}</h2>

    {% if profile.age %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ profile.age }}</div>
    </div>
    {% endif %}

    {% if profile.location %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ profile.locaton }}</div>
    </div>
    {% endif %}

    {% if profile.image %}
    <!-- <h3>Assets</h3> -->
    <div class="flex">
      <div class="pr2 list">
        {% for image in images %}
        <img>{{profile_image}}</img>
        {% endfor %}
      </div>
    </div>


    {% endif %}

    <p>
      <a href="{% url 'view_assets' pk=list_assets.pk %}">View Assets</a><br>    
      <a class="red" href="{% url 'delete_user' pk=user.pk %}">Delete Profile</a><br>
    </p>


  </div>

{% endblock %}