{% extends 'base.html' %} 
{% block content %}

<div class="w-33 pa3">
	<h2>{{ user.name }}</h2>

    {% if user.user_age %}
    <div class="flex">
      <div class="pr2"><i class="icofont-phone"></i></div>
      <div>{{ user.user_age }}</div>
    </div>
    {% endif %}

    {% if user.location %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-email"></i></div>
      <div>{{ user.locaton }}</div>
    </div>
    {% endif %}

    {% if asset.asset_title %}
    <h3>Assets</h3>
    <div class="flex">
      <div class="pr2 list">
        {% for asset in assets %}
        <li>{{asset_title}}</li>
        {% endfor %}
      </div>
    </div>


    {% endif %}

    <p>
      <a href="{% url 'view_assets' pk=list_assets.pk %}">View Assets</a><br>    
      <a class="red" href="{% url 'delete_user' pk=user.pk %}">Delete user</a><br>
      <a href="{% url 'add_note' user_pk=user.pk %}">Add Note</a>
    </p>


  </div>

{% endblock %}